<div class="post-form">


  <%= form_for @post do |f| %>
    <%# カテゴリーの選択form %>
    <%= f.file_field :image %>
    <%= f.text_area :text, placeholder: "text" , rows: "10" %>
    <%= f.submit "SEND" %>
  <% end %>

</div>
