.form{
  text-align: center;
  p{
    margin-top: 40px;
    etter-spacing: 0.1em;
  }
  #post_text{
    width: 70%;
    margin: 30px;
  }
}


//   .input-btn{
//     display: inline-block;
//     max-width: 180px;
//     text-align: left;
//     border: 2px solid #454545;
//     font-size: 16px;
//     color: #454545;
//     text-decoration: none;
//     font-weight: bold;
//     padding: 8px 16px;
//     border-radius: 4px;
//     transition: .4s;
//     margin: 0 50px;
//     letter-spacing: 0.3em;
//   }
//   .input-btn:hover {
//     background-color: #454545;
//     border-color: #686868;
//     color: #FFF;
//   }
// }

#post_category_id{
  margin: 10px 15px;
}




