.mypage-top{
  vertical-align:  middle;   //中央寄せ
  padding: 100px;
  text-align:  center;
}

.mypage-top__image{
  display: inline-block;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  padding-bottom: 30px;
 }
 
 .mypage-top__name{
  text-align: center;
  letter-spacing: 0.3em;
  font-size: large;
}



.mypage-post{
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 50px;
  width: 700px;
  background-color: #eee7e0;
}

.cp_card05 {
  margin: 0 auto;
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;
  min-height: 330px;
  border-radius: 3px;
  width: 500px;
  background: url(#) center/cover no-repeat;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  }
  .cp_card05:hover .description {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  .cp_card05 input[type='checkbox'] {
  display: none;
  }
  .cp_card05 input[type='checkbox']:checked + .meta {
  -webkit-transform: translateY(-60px);
  transform: translateY(-60px);
  }
  .cp_card05:hover .meta span {
  -webkit-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px);
  opacity: 1;
  }
  .cp_card05 .details {
  padding: 1em;
  color: #ffffff;
  }
  .cp_card05 .details::before,
  .cp_card05 .details::after {
  display: table;
  content: '';
  }
  .cp_card05 .details::after {
  clear: both;
  }
  .cp_card05 .details .date {
  font-size: 12px;
  float: left;
  }
  .cp_card05 .description {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition:         transform 0.3s;
  transition:         transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  }
  .cp_card05 .description .content {
  position: relative;
  z-index: 1;
  padding: 1em;
  }
  .cp_card05 .description .author {
  font-size: 12px;
  }
  .cp_card05 .description h1 {
  font-size: 1.4em;
  margin-top: 10px;
  }
  .cp_card05 .description h1 a {
  color: #ffffff;
  text-decoration: none;
  }
  .cp_card05 .description .post-text {
  height: 3em;
  margin: 0;
  }
  .cp_card05 .description .button {
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  }
  .cp_card05 .description .button::after {
  position: absolute;
  top: 50%;
  right: 0;
  font-family: FontAwesome;
  content: '\f061';
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  opacity: 0;
  }
  .cp_card05 .description .button:hover::after {
  -webkit-transform: translate(5px, -50%);
  transform: translate(5px, -50%);
  opacity: 1;
  }
  .cp_card05 .meta {
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
  }
  .cp_card05 .meta::before,
  .cp_card05 .meta::after {
  display: table;
  content: '';
  }
  .cp_card05 .meta::after {
  clear: both;
  }
  .cp_card05 .meta li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  }
  .cp_card05 .meta a {
  color: #ffffff;
  text-decoration: none;
  }
  .cp_card05 .meta span {
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 0;
  }
  @media screen and (max-width: 480px) {
  .cp_card05 .description .post-text {
  height: 6em;
  }
  }