.post-show{
  text-align: center;
  .post-show__image{
    height: 500px;
  }
  .post-show__contents{
    width: 700px;
    margin: 0 auto;
    padding: 100px 0;
    .post-top{
      .post-setting{
        text-align: right;
        padding: 0 10px;
        ul li{
          display: inline;
          color: darkslategrey;
        }
        ul li:visited {
          color: darkslategray;
        }
      }
      .post-action{
        padding: 5px 0;
      }
    .date{
      text-align: left;
      padding-bottom: 30px;
      .day{
        color: gray;
        font-size: 12px;
      }
    }
  }

    .author{
      font-size: 13px;
      text-align: left;
      margin-bottom: 25px;
    }
    .description{
      line-height: 2.0;
      .content{
        text-align: left;
        .text{
          font-size: 14px;
        }
      }
    }
  }
}

.fas{
  color: #393939;
  &:visited {
    color: #393939;
  }
}
.far{
  color: #393939;
  &:visited {
    color: #393939;
  }
}
a {
  text-decoration: none;
  margin: 5px;
}