<div class="categories">

  <h4>カテゴリー</h4>

  <div class="ex1 scroll-fade-row">
      <div><span>
        <div class="pakila">パキラ</div>
      </span></div>

      <div><span>
         <div class="dracaena">ドラセナ</div>
      </span></div>
      
      <div><span>
         <div class="bengalensis">ベンガレンシス</div>
      </span></div>
      
      <div><span>
         <div class="everfresh">エバーフレッシュ</div>
      </span></div>

      <div><span>
         <div class="monstera">モンステラ</div>
      </span></div>

      <div><span>
         <div class="banyan">ガジュマル</div>
      </span></div>

      <div><span>
         <div class="umberata">ウンベラータ</div>
      </span></div>

      <div><span>
         <div class="olive">オリーブ</div>
      </span></div>

      <div><span>
         <div class="artesima">アルテシーマ</div>
      </span></div>

      <div><span>
         <div class="benjamin">ベンジャミン</div>
      </span></div>

      <div><span>
        <div class="sansevieria">サンスベリア</div>
      </span></div>

      <div><span>
         <div class="ivy">アイビー</div>
      </span></div>

      <div><span>
         <div class="augusta">オーガスタ</div>
      </span></div>

      <div><span>
         <div class="cactus">サボテン</div>
      </span></div>

      <div><span>
         <div class="etc">その他</div>
      </span></div>

  </div>
</div>